# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# File upload user
storage/

# Secret / konfigurasi rahasia
.env

# Lock file Microsoft Office
~$*

# Database lokal
*.db

# Sertifikat & private key
nginx/certs/

# Cache tool development
.pytest_cache/
.ruff_cache/
